/*Styling page for the site*/
:root {
    --pcolor: #394861;
    --hcolor: #313c52;
    --scolor: #6e7e9a;
    --tcolor: #f5f9ff;
    --fcolor: #000000;
    --ffcolor: #052c70;
    background-color: #586b8c;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1.5vw;
    font-family: 'Times New Roman', Times, serif;
}
div#navigationBar {
    display: flex;
    flex-direction: row;
    background-color: var(--pcolor);
    height: 9%;
    width: 100%;
    align-items: center;
}
div#title {
    color: var(--tcolor);
    font-size: 1.75vw;
    margin: 0.5em;
}
div#dialogBox {
    position: fixed;
    height: 100%;
    background-color: var(--pcolor);
    width: 20vw;
    display: none;
}
div#dialogBoxNavBar {
    display: flex;
    height: 2em;
    padding: 0.5em;
    justify-content: right;
    align-items: center;
}
div#mainContentContainer {
    display: flex;
    justify-content: center;
    min-height: 91%;
    font-size: 1.5vw;
    padding: 0.5em;
    background-color: var(--scolor);
}
body#indexPage > div#mainContentContainer {
    justify-content: right;
}
div#itemListContainer {
    width: 80%;
    margin-right: -4px;
}
body#requestCatalogPage > div:nth-child(3) > div#itemListContainer{
    width: 100%;
}
div.itemContainer {
    display: flex;
    flex-direction: row;
}
div.item {
    border: 4px solid var(--fcolor);
    background-color: var(--tcolor);
    margin-top: -4px;
    margin-left: -4px;
    padding: 0.5em;
    font-size: 1.1vw;
    
}
div.contactName {
    width: 10%;
    overflow-wrap: break-word;
}
div.contactEmail {
    width: 15%;
    overflow-wrap: break-word;
}
div.description {
    width: 30%;
}
body#requestCatalogPage div.description {
    width: 20%;
}
div.type {
    width: 10%;
}
body#requestCatalogPage div.type {
    width: 10%;
}
div.status {
    width: 15%;
}
body#requestCatalogPage div.status {
    width: 10%;
}
div.estimatedDateLost {
    width: 10%;
}
div.additionalNotes {
    width: 25%;
}
body#requestCatalogPage div.additionalNotes {
    width: 15%;
}
div.photo {
    flex: 1;
}
img.catalogImage {
    width: 100%;
    height: 100%;
}
button {
    background-color: var(--pcolor);
    color: var(--tcolor);
    font-size: 1.25vw;
    border: 0;
    padding: 0.2em;
}
button#menuButton {
    font-size: 1.5vw;
    margin: 0.5em;
}
button:hover {
    background-color: var(--hcolor);
}
a.menuItem {
    color: var(--tcolor);
    font-size: 1.75vw;
    padding: 0.5em;
    text-decoration: none;
    display: block;
}
a.menuItem:hover {
    background-color: var(--hcolor);
}
form {
    display: flex;
    flex-direction: column;
    background-color: var(--pcolor);
    height: fit-content;
    width: 50%;
}
div.requestFormContainer {
    align-items: center;
}
div.inputElement {
    margin: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
label {
    width: 35%;
    display: block;
}
input {
    margin: 0.5em;
    max-width: 65%;
    flex-grow: 1;
    overflow: hidden;
}
body#indexPage label {
    width: 100%;
}
body#indexPage input {
    max-width: 100%;
}
div.searchContainer {
    flex-direction: column;
}
select {
    flex-grow: 1;
    margin: 0.5em;
}
input[type="file"], input[type="submit"] {
    margin: 0;
    padding: 0.5em;
}
input[type="file"]::file-selector-button {
    font-family: 'Times New Roman', Times, serif;
}
textarea {
    margin: 0.5em;
    min-height: 130px;
    height: 130px;
    line-height: 26px;
    flex-grow: 1;
    font-size: 1.2vw;
    resize: block;
}
.person {
    width: 60vw;
    height: 30vh;
    margin-top: 0.75em;
    background-color:#313c52;
    border: thick, double, aliceblue;
    flex-grow: 1;
    color: var(--tcolor);
}
div.name {
    font-size: larger;
}
.contact {
    margin-top: 0.75em;
    flex-grow: 1;
    color: var(--scolor);
}
a.email {
    text-decoration: none;
    color: var(--tcolor);
}
div.name, div.details {
    margin: 2%;
}
body#errorPage > div:nth-child(2) {
    display: block;
    text-align: center;
    color: var(--tcolor);
}
div.inlineText {
    display: inline;
}
a#userIdRedirect {
    color: var(--tcolor);
}
