:root {
    --pcolor: #394861;
    --hcolor: #313c52;
    --scolor: #6e7e9a;
    --tcolor: #f5f9ff;
    --fcolor: #000000;
    --ffcolor: rgb(5, 44, 112);
    background-color: rgb(88, 107, 140);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}
div#navigationBar {
    display: flex;
    flex-direction: row;
    background-color: var(--pcolor);
    height: 9%;
    width: 100%;
    align-items: center;
}
div#title {
    color: white;
    font-size: 26px;
    margin: 0.5em;
}
div#dialogBox {
    position: fixed;
    height: 100%;
    background-color: var(--pcolor);
    width: 20vw;
    display: none;
}
div#dialogBoxNavBar {
    display: flex;
    height: 2em;
    padding: 0.5em;
    justify-content: right;
    align-items: center;
}
div#mainContentContainer {
    display: flex;
    justify-content: center;
    min-height: 91%;
    font-size: 24px;
    padding: 0.5em;
    background-color: var(--scolor);
}
body#indexPage > div#mainContentContainer {
    justify-content: right;
}
div#itemListContainer {
    width: 80%;
}
div.itemContainer {
    display: flex;
    flex-direction: row;
}
div.item {
    border: 4px solid black;
    background-color: white;
    margin-top: -4px;
    margin-left: -4px;
    padding: 0.5em;
    font-size: 18px;
    
}
div.description {
    width: 30%;
}
div.type {
    width: 10%;
}
div.status {
    width: 15%;
}
div.additionalNotes {
    width: 25%;
}
div.photo {
    flex: 1;
}
img.catalogImage {
    width: 100%;
    height: 100%;
}
button {
    background-color: var(--pcolor);
    color: white;
    font-size: 16px;
    border: 0;
    padding: 0.2em;
}
button#menuButton {
    font-size: 24px;
    margin: 0.5em;
}
button:hover {
    background-color: var(--hcolor);
}
a.menuItem {
    color: white;
    font-size: 24px;
    padding: 0.5em;
    text-decoration: none;
    display: block;
}
a.menuItem:hover {
    background-color: var(--hcolor);
}
form {
    display: flex;
    flex-direction: column;
    background-color: var(--pcolor);
}
div.inputElement {
    margin: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
label {
    width: 35%;
    display: block;
}
input {
    margin: 0.5em;
    max-width: 65%;
    flex-grow: 1;
    overflow: hidden;
}
select {
    flex-grow: 1;
    margin: 0.5em;
}
input[type="file"], input[type="submit"] {
    margin: 0;
    padding: 0.5em;
}
input[type="file"]::file-selector-button {
    font-family: 'Times New Roman', Times, serif;
}
textarea {
    margin: 0.5em;
    min-height: 130px;
    height: 130px;
    line-height: 26px;
    flex-grow: 1;
    font-size: 24px;
    resize: block;
}
